.login{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(
    to right bottom,
     #bb50e9,
     #f53158);
     display: flex;
     align-items: center;
     justify-content: center;
     color: aliceblue;
}

.loginWrapper{
    width: 70%;
    height: 70%;
    display: flex;
}

.loginLeft.loginRight{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.loginLogo{
    font-size: 80px;
    font-weight: 800;
    color: white;
}

.loginDesc{
    position: absolute;
    top: 250px;
    font-size: 30px;
    font-weight: 200;
}
.ityped-cursor {
    
    font-size: 90px;
    font-weight: 100;
}

.loginBox{
    position: absolute;
    right: 100px;
    top: 200px;
    width: 30%;
    height: 200px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.loginForgot{
    color: white;
    text-align: center;
    cursor: pointer;

}
.loginInput{
    height: 50px;
    border-radius:10px;
    border: none;
    font-size: 18px;
    padding-left: 20px;
}
.loginInput:focus{
    outline: none;
}

.loginButton{
    width: 30%;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color :#4267B2;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;


}

.loginButton:disabled{
    cursor:not-allowed;
}
.loginRegisterButton{
    width: 60%;
    align-self: center;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color:#0F9D58;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;

}

.ityped-cursor {
    
    opacity: 1;
    -webkit-animation: blink 0.5s infinite;
    -moz-animation: blink 0.5s infinite;
    animation: blink 0.5s infinite;
    animation-direction: alternate;
}
 
@keyframes blink {
    100% {
        opacity: 0;
    }
}
 
@-webkit-keyframes blink {
    100% {
        opacity: 0;
    }
}
 
@-moz-keyframes blink {
    100% {
        opacity: 0;
    }
}

